name: Deploy to AWS (After Approval)

on:
  workflow_dispatch:   # Manual trigger
  push:
    branches:
      - main
      - james-updates


jobs:
  wait-for-approval:
    name: Manual Approval Gate
    runs-on: ubuntu-latest
    steps:
      - name: Await Approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
          approvers: james-scales
          minimum-approvals: 1

  terraform-apply:
    name: Terraform Apply to AWS
    needs: wait-for-approval
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: sa-east-1

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Terraform Init
        run: terraform init
        working-directory: ./

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./

      - name: Terraform Plan (for visibility)
        run: terraform plan -out=tfplan
        working-directory: ./

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        working-directory: ./
