name: Destroy AWS Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - james-updates

jobs:
  terraform-destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    environment:
      name: production   # Optional: requires approval before destroying

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: sa-east-1

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Terraform Init
        run: terraform init
        working-directory: ./

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
        working-directory: ./
